*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #E7EAF2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in{
  width: 25rem;
  height: 30rem;
  background-color: white;
  margin-top: 4rem;
  text-align: center;
  border-radius: 25px;
  border: 0px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.signIn-form{
    display: flex;
    flex-direction: column;
    align-items: center; /* opcional: alinha os inputs no centro horizontalmente */
    text-align: start;
}

.input-email {
    /* ajuste conforme necessário para dar espaço entre os inputs */
    width: 100%;
    border: none;
    outline: none;
}

.email{
  border-bottom: 3px solid #5A6170;
  background: #FFF;
  margin-bottom: 15px
}

.password{
  border-bottom: 3px solid #5A6170;
  background: #FFF;
  margin-bottom: 15px
}

.input-password {
  /* ajuste conforme necessário para dar espaço entre os inputs */
  width: 100%;
  border: none;
  outline: none;
}

button{
  width: 12rem;
  height: 3rem;
  border-radius: 50px;
  fill: linear-gradient(221deg, #F8A4D8 36.91%, rgba(108, 99, 255, 0.95) 87.67%);
}

